Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
bin
lib
application_local.yml
/material-unit-service/src/main/resources/application-example.yml
app.log.*
/HELP.md
/mvnw
/mvnw.cmd
